.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div{
    display: flex;
    align-items: center;

}
.img{
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
}
.l1{
    text-align: center;
    margin: 10px;
}
.div1{
    width: 100%;
    justify-content: space-between;
    display: flex;
    justify-content:flex-start;
}
.a{
    width:50% ;
}
.b{
    width: 50%;
}
.c{
    width: 100%;
}
.div2{
 display: flex;
    width: 100%;
}
.div3{
    display: flex;
    justify-content: end;
    border-color: green;
}
.aa{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
    padding-bottom: 20px;
    margin: 20px auto;
    border-color: black;    
    

   
}

.form {
   display: flex;
   justify-content: center;
   width: 100%;
   flex-direction: column;
   gap: 10px;
}
@media screen {

.l1{
   display: block;
}
.l{
    display: block;
}


}
